# 忽略 legacy 和 test_data 資料夾
legacy/
test_data_shortcut/

# 忽略特定檔案
hook-tkinterdnd2.py
timeline_detector.exe
test_data_shortcut.lnk
logic.txt
# 忽略暫存或系統檔案
*.pyc
*.pyo
*.pyd
__pycache__/
.DS_Store
Thumbs.db

# 忽略壓縮檔案
*.zip
*.tar.gz
*.7z
